@import '../../static/style/theme.less';

.page-login {
    background-color: #f5f5f9;
    overflow: scroll;

    .login-avatar {
        display: block;
        margin: 30px auto 20px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }

    .am-input-label,
    .am-input-control input {
        font-size: 16px;
    }

    .am-list-item .am-input-extra {
        max-height: 32px;
    }

    .login-btn {
        margin: 20px @side-margin;
    }
}
