@import '../../static/style/theme.less';
@segment-height: 27px;
@chart-height: 250px;
@list-head-height: 41px;

.page-usage {
    background-color: white;
    overflow: scroll;
    height: calc(100vh - @tabbar-height);

    .segment-control {
        margin: @side-margin;
    }

    .chart-root {
        width: 100%;
        height: 250px;
    }

    .list-header {
        padding: 0 @side-margin;
        border-top: @divider;
    }

    .list-header,
    .list-row {
        display: flex;
        justify-content: space-between;

        h3 {
            font-weight: normal;
            color: @heading-color;
            margin: 0.7em 0;
        }

        div {
            font-size: 12px;
            color: @text-color;
        }
    }

    .am-list {
        height: calc(
            100vh - @segment-height - @side-margin * 2 - @chart-height -
                @list-head-height - @tabbar-height
        );
        overflow: scroll;
    }
}
