@import '../../../static/style/theme.less';

.page-paid {
  background-color: @body-bg-color;
  height: 100vh;
  overflow: scroll;

  .paid-icon {
    width: 80px;
    height: 80px;
    display: block;
    margin: 100px auto 20px;
  }

  h2 {
    font-weight: normal;
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.75em;
  }

  p {
    text-align: center;
    font-size: 16px;
  }
}
